<div class="container-fluid">
  <header class="header">
    <div class="d-flex justify-content-center">
      <h1> Gestion des Hotels </h1>
    </div>
  </header>
  <div>
    <div class="d-flex flex-column  align-items-center justify-content-center">
      <h2>Lists Des Hotels </h2>
      <button type="button" class="btn btn-primary" (click)="OnSow()">
        <span>{{listNewHotel}}</span>
        <span class="badge text-bg-secondary">{{nbNewHotel}}</span>
      </button>

    </div>
   <div class="d-flex justify-content-center flex-wrap">
     <app-hotel-list [hotellist]="myhotel1"></app-hotel-list>
     <app-hotel-list [hotellist]="myhotel2"></app-hotel-list>
     <app-hotel-list [hotellist]="myhotel3"></app-hotel-list>
     <app-hotel-list [hotellist]="myhotel4"></app-hotel-list>
     <app-hotel-list [hotellist]="myhotel5"></app-hotel-list>
     <app-hotel-list [hotellist]="myhotel6"></app-hotel-list>
   </div>
  </div>
</div>
